<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Lista de Tarefas</h1>

        <div id="top-menu">
            <button class="btn large" type="button" [routerLink]="['/tasks', 0]">CADASTRAR TAREFAS</button>
        </div>

        <div class="content">
            <div class="content-body">
                <div class="teste" *ngFor="let task of tasks">
                    <div class="detail-list wrap-input100">
                        <div>
                            <label class="label-input100">DESCRIÇÃO</label>
                            <span class="input100">{{task.subject}}</span>
                        </div>
                        <div>
                            <label class="label-input100">DATA DE VENCIMENTO</label>
                            <span class="input100">{{task.dueDate}}</span>
                        </div>
                        <div>
                            <label class="label-input100">RESPONSÁVEL</label>
                            <span class="input100">{{task.assignee}}</span>
                        </div>
                        <div>
                            <label class="label-input100">CUSTO</label>
                            <span class="input100">{{task.cost}}</span>
                        </div>
                        <div class="useractions">
                            <label class="label-input100">AÇÕES</label>
                            <span class="input100"><a id="edit"><img class="link icon" src="assets/img/edit.png" alt="Edit"> </a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>