<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <h1>Lista de Usuários</h1>

        <div id="top-menu">
            <button class="btn large" type="button" [routerLink]="['/users', 0]">CADASTRAR USUÁRIO</button>
        </div>
            

        <div class="content">
            <div class="content-body">
                <div *ngFor="let user of users">
                    <div class="wrap-input100 rs2-wrap-input100">
                        <div class="username">
                            <label class="label-input100">NOME</label>
                            <span class="input100">{{user.name}}</span>
                        </div>

                        <div class="useractions">
                            <label class="label-input100">AÇÕES</label>
                            <span class="input100"><a id="edit"><img class="link icon" src="assets/img/edit.png" alt="Edit"> </a></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>